body {
  margin: 0;
  font-family: "Shippori Antique";

  --color-one: #ffc09f;
  --color-two: #f1c1ef;
  --color-three: #fffdf0;
  --color-four: #a0ced9;
  --color-five: #90f09b;

  background-color: var(--color-three);
  color: var(--color-four);

  height: 100vh;
  width: 100vw;
}

a {
  text-decoration: none;
  color: var(--color-five);
  border: 2px solid transparent;
  margin: 4px;
  padding: 4px;
}

a:hover {
  border-bottom: 2px solid var(--color-five);
}
